<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Строка подключения к базе данных -->
	  <add name="DefaultConnection" connectionString="Host=localhost;Port=5432;Database=db1;Username=postgres;Password=2005" providerName="Npgsql" />
  </connectionStrings>

  <!-- Другие настройки -->
  <appSettings>
    <add key="AppName" value="Online Art Application" />
    <add key="MinPasswordLength" value="6" />
    <add key="MaxLoginAttempts" value="5" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
